body
{
  margin:0;
  padding:0;

}
/*.image img
{
 height:500px;
 width:100%;

}*/

.carousel 
{

	height:924.5px;

}

.carousel img 
{
  height:924.5px;

}
.card1
{

  height:100px;
  margin-top:60px;

}
.card1 .card-deck
{

	margin-left:0px;
	margin-right:0px;
}
.list-group
{
   margin-top:60px;


}
.table-domy label

{
  margin-top:50px; 
  padding-left:90px;
  padding-right:10px;
  margin-bottom:-10px;

}
.footer-demo footer 
{

	display: flex;
    justify-content: center;
    padding:5px;
    background-color:#00001a;
    color: #fff;
	

}